<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
<listeners>
<listener class-name="test.Listener"/>
</listeners>
  <parameter name="URL" value="qaclickacademy.com"/>

  <test thread-count="5" name="Personal loan">
    <classes>
      <class name="test.day1"/>
     <class name="test.day2"/>   
    </classes>
  </test>
  <test thread-count="5" name="Car Loan">
    <classes>
      <class name="test.day3"/>
        
    </classes>
  </test>

</suite>